@import url('https://fonts.googleapis.com/css?family=Ubuntu');

.link{
	stroke: gray;
	stroke-width: 0.5px;
}

.node{
	font-family: 'Ubuntu' sans-serif;
	fill:blue;
	stroke-width: 0.5px;
}

.tip{
	position: absolute;
	background-color: white;
	border: 1px gray solid;
	visibility: hidden;
	z-index:1;
	padding: 3px;
	box-shadow: 0px 0px 3px black;

}